@import url(https://fonts.googleapis.com/css?family=Quicksand:100,200,300,400,500,600,700,800,900);
body {
  font-family: "Quicksand", sans-serif;
  box-sizing: border-box;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}

body, html {
  margin: 0;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
